* {
    margin: 0;
    padding: 0;
}

.task__container {
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
}

.task__title {
    color: #999;
    font-size: 20px;
    font-family: 'Golos Text';
    margin-bottom: 40px;
}

.task__text {
    gap: 20px;
    line-height: 1.2;
    margin-bottom: 60px;
    font-family: 'Golos Text';
    font-size: 90px;
    font-weight: 120;
    text-transform: uppercase;
}

.task__image {
    height: 80px;
    width: auto;
}

.task__button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.task__button-wrapper::before,
.task__button-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70%;
    height: 2px;
    background-color: #fff;
    z-index: 0;
    pointer-events: none;
}

.task__button {
    position: relative;
    background: #fff;
    color: #000;
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 60px;
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    z-index: 1; 
    transition: background 0.3s;
}

.task__button:hover {
    background: #e6e6e6;
}

@media (max-width: 768px) {
    .task__button {
        font-size: 16px;
        padding: 14px 40px;
    }
}
